Ques.1 Explain the key features of python that make it  a popular   choice for programming

Ans. Portable Language. It is a cross-platform language.
Standard Library
High-Level Language
Easy to learn and use
Dynamic Language
Extensible Language
Interpreted Language
Object-Oriented Programming Language

Here are a few features of Python that make it a popular programming language in today's time.

1. Portable Language
It is a cross-platform language. It can run on Linux, macOS, and Windows. For example, you can run the Python code for Windows in Linux or macOS, too.

2. Standard Library
It offers various modules like operators, mathematical functions, libraries such as NumPy, Pandas, Tensorflow, etc., and packages paving the way for the developers to save time to avoid re-writing the codes from scratch. To provide more functionality and packages, they also provide Python Package Index.

3. High-Level Language
It is a high-level, general-purpose programming language. Unlike machine language like C, C++, It is a human-readable language. In other words, even a layman can understand the programs.

4. Easy to learn and use
It is easy to understand and easy to code, and anyone can learn Python within a few days. For example, a simple Python program to add two numbers is as follows:

a = 8
b = 9
print(a+b)

We have completed this program within three lines. Whereas in Java, C++ and C, it takes more lines. That is why Python is known as an easy and precise language.

5. Dynamic Language
Declaring the type of a variable is not needed. For example, let us declare an integer number 7 for a variable a. Rather than declare it as:

int a = 7 ( this is necessary for statically-typed language like C)
We declare it as
a = 7

But, the programmers have to be careful regarding runtime errors.

6. Extensible Language
Code can be used to compile in C or C++ language so that it can be utilized for our Python code. This is achieved because it converts the program to byte code.

7. Interpreted Language
Line-by-line execution of source code, converted into byte code; thus, compiling the code is not necessary, making it easy to debug if required.

8. Object-Oriented Programming Language
It supports procedural, functional, structural, and also object-oriented language such as abstraction, encapsulation, inheritance, and polymorphism which is considered important by the Python coder.

9. Free and Open-source libraries
It is a free open-source platform that can be downloaded easily from their Official Website.

10. Support is provided for Graphical User Interface
Lots of Graphical User Interface frameworks are available in Python, thus helping the software user, and it sticks to platform-specific technologies. It can be used in software development, web development, etc
__________________________________________________________________________

Ques.2 Describe the  role of predefine d keyword in python and provide examples of how they  are used in a program.

Ans. Key Roles of Predefined Keywords in Python
1.Control Flow: Keywords like if, else, elif, for, while, break, and continue control the execution flow of a program.

2.Data Types: Keywords such as True, False, None represent built-in data types or constants.

3.Function and Class Definitions: Keywords like def, class, return are used to define functions and classes.

4.Exception Handling: try, except, finally, raise are keywords for managing exceptions in Python.

5.Variable Scope and Assignment: global, nonlocal, del manage variable scope and deletion.

6.Logical and Comparison Operators: Keywords such as and, or, not, is, in are used for logical operations and comparisons.

Examples of Predefined Keywords in Python

Example 1: Control Flow (if-else)

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is 5 or less")

x is greater than 5


Example 2: Defining Functions (def, return)

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)

8

Example 3: Loops and Break

In [ ]:
for i in range(5):
    if i == 3:
        break
    print(i)

0
1
2

Example 4: Exception Handling (try, except, finally)

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
      print("Cannot divide by zero!")
finally:
    print("This will always execute.")

Cannot divide by zero!
This will always execute.

Example 5: Logical Operators (and, or, not)

In [ ]:
a = True
b = False

if a and not b:   # 'and', 'not' keywords for logical comparisons
    print("a is True and b is False")

a is True and b is False

Example 6: Defining Classes (class)

In [ ]:
class Dog:
    def __init__(self, name):
        self.name = name

    def bark(self):
        return f"{self.name} says woof!"

my_dog = Dog("Buddy")
print(my_dog.bark())

Buddy says woof!

Ques.3 compare and constrast mutable and immutables objects in python with examples

Ans. objects are classified as either mutable or immutable based on whether their internal state (i.e., the values they contain) can be changed after creation. Understanding the difference between mutable and immutable objects is key for efficient programming and avoiding unintended behavior.

Mutable Objects

Definition: Mutable objects are those whose values or internal state can be changed after they are created. You can modify, add, or remove elements from them

Common Mutable Types

Lists (list)

Dictionaries (dict)

Sets (set)

User-defined classes (unless explicitly made immutable)


Example of a Mutable Object: list

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 10
print(my_list)

[10, 2, 3]

Immutable Objects

In [ ]:
my_str = "hello"       # Creating a string
my_str[0] = "H"        # Trying to modify the string will result in an error

TypeError: 'str' object does not support item assignment

Comparison: Mutable vs Immutable

Feature:	Mutable Objects
          Immutable Objects


Modifiability
mutable object : Can be modified after creation.

Immutable Objects:	Cannot be modified after creation.

Common Types	list, dict, set, custom classes

mutable object: int, str, tuple, frozenset, bool




Example 1: Mutable (List) vs Immutable (Tuple)

In [ ]:
# Mutable list
my_list = [1, 2, 3]
my_list.append(4)
print(my_list)

# Immutable tuple
my_tuple = (1, 2, 3)
my_tuple += (4,)
print(my_tuple)

[1, 2, 3, 4]
(1, 2, 3, 4)

Example 2: Reference Behavior

In [ ]:
# Mutable object reference behavior
list1 = [1, 2, 3]
list2 = list1
list2.append(4)
print(list1)

# Immutable object reference behavior
tuple1 = (1, 2, 3)
tuple2 = tuple1
tuple2 += (4,)
print(tuple1)

[1, 2, 3, 4]
(1, 2, 3)

Ques.4 Discuss the different types of operators in python and provides examples of how they are  used


Ans.Types of Operators in Python

Arithmetic Operators

Comparison (Relational) Operators

Assignment Operators

Logical Operators

Bitwise Operators

Membership Operators

Identity Operators


1. Arithmetic Operators

Arithmetic operators are used to perform mathematical operations.


+	Addition

-	Subtraction

*	Multiplication

/	Division

%	Modulus (remainder)

**	Exponentiation (power)

//	Floor division

In [ ]:
a = 10
b = 3
print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b)
print(a ** b)
print(a // b)

13
7
30
3.3333333333333335
1
1000
3

2. Comparison (Relational) Operators


Comparison operators compare two values and return either True or False.

Operator	Description

==	Equal to

!=	Not equal to

>	Greater than

<	Less than

>=	Greater than or equal to

<=	Less than or equal to

example

In [ ]:
a = 10
b = 5
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

3. Assignment Operators

Assignment operators are used to assign values to variables

=	Assigns value on the right to the left

+=	Add and assign

-=	Subtract and assign

*=	Multiply and assign

/=	Divide and assign

%=	Modulus and assign

**=	Exponentiation and assign

//=	Floor division and assign

In [ ]:
a = 10
b = 5
a += b
print(a)

a *= 2

print(a)

15
30

4. Logical Operators

Logical operators are used to combine conditional statements.

and

or

not

Example

In [ ]:
a = True
b = False
print(a and b)
print(a or b)
print(not a)

False
True
False

5. Bitwise Operators

Bitwise operators perform operations on the binary representations of numbers.


&	Bitwise AND

`	`	Bitwise OR

^	Bitwise XOR

~	Bitwise NOT

<<	Bitwise left shift

>>	Bitwise right shift

Example:

In [20]:
a = 10
b = 4

print(a & b)
print(a | b)
print(a ^ b)
print(~a)
print(a << 1)
print(a >> 1)

0
14
14
-11
20
5

Ques.5 explain the concept of type casting in python with examples

Type casting (also known as type conversion) in Python refers to the process of converting one data type into another. This is particularly useful when you need to perform operations between variables of different types or format data for input/output purposes. Python supports both implicit and explicit type casting.

Types of Type Casting

Implicit Type Casting

Explicit Type Casting


1. Implicit Type Casting

Implicit type casting is performed by Python automatically. When Python encounters an operation that involves different data types, it attempts to convert one of the types into another in a way that prevents data loss. This happens without any explicit instruction from the programmer.

Example of Implicit Type Casting:

In [22]:
a = 10
b = 2.5
result = a + b

print(result)
print(type(result))

12.5
<class 'float'>

2. Explicit Type Casting

Explicit type casting is when you explicitly convert one data type to another using Python's built-in functions. This gives the programmer control over the type conversion process, and is commonly used when dealing with user inputs, file I/O, or to avoid errors when incompatible types are involved in an operation.

Python provides several built-in functions for explicit type casting:

int() : Converts to integer

float() : Converts to float

str() : Converts to string

list() : Converts to list

tuple() : Converts to tuple

set() : Converts to set

bool() : Converts to boolean

Example of Explicit Type Casting:

In [23]:
# Converting a float to an integer
num = 10.6
int_num = int(num)
print(int_num)

# Converting a string to an integer
str_num = "100"
int_num = int(str_num)
print(int_num)

# Converting a list to a set
my_list = [1, 2, 2, 3]
my_set = set(my_list)
print(my_set)

# Converting a number to a string
num = 20
str_num = str(num)
print(str_num)
print(type(str_num))

10
100
{1, 2, 3}
20
<class 'str'>

Ques.6 how do conditional statements work in python? Illustrate with examples.

ans.Conditional statements in Python allow you to execute certain blocks of code based on whether a condition (or set of conditions) evaluates to True or False. They are used to control the flow of a program by making decisions at runtime. The most common conditional statements in Python are if, elif, and else.

1. if Statement

The if statement checks a condition, and if the condition is True, the code block inside the if statement is executed.

Example:

In [24]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

2. else Statement

The else statement is used to define an alternative block of code that will be executed if the if condition is False.

In [25]:
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

3. elif (Else If) Statement

The elif statement is short for "else if" and allows you to check multiple conditions in sequence. It’s used when you want to check additional conditions after the first if condition.


Example:

In [26]:
x = 7
if x > 10:
    print("x is greater than 10")
elif x > 5:
    print("x is greater than 5 but less than or equal to 10")
else:
    print("x is 5 or less")

x is greater than 5 but less than or equal to 10

4. Nested if Statements

You can nest if, elif, and else statements within one another to create more complex conditions.

example

In [27]:
x = 10
y = 20

if x > 5:
    if y > 15:
        print("x is greater than 5 and y is greater than 15")
    else:
        print("x is greater than 5 but y is not greater than 15")
else:
    print("x is less than or equal to 5")

x is greater than 5 and y is greater than 15

5. Using Logical Operators in Conditional Statements

Logical operators like and, or, and not can be used in if conditions to combine multiple conditions.

Example

In [28]:
age = 25
income = 50000

if age > 18 and income > 30000:
    print("Eligible for a loan")
else:
    print("Not eligible for a loan")

Eligible for a loan

Example with or:

In [29]:
temperature = 30
if temperature < 0 or temperature > 35:
    print("Extreme weather conditions")
else:
    print("Weather is moderate")

Weather is moderate

Example with not:

In [30]:
is_raining = False

if not is_raining:
    print("It's not raining, you can go outside")

It's not raining, you can go outside

6. Ternary Conditional Operator (Inline if Statement)

Python allows a shorthand way to write if statements in one line using the ternary conditional operator.

Example:

In [31]:
age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)

Adult

7. Conditional Statements with Multiple Conditions

Python supports using multiple conditions with if, elif, and else.

Example:

In [32]:
grade = 85

if grade >= 90:
    print("A")
elif grade >= 80:
    print("B")
elif grade >= 70:
    print("C")
else:
    print("F")

B

QUES.7 Describe the different types of loops  in python and their use cases with examples

ANS. Loops in Python are control structures that allow you to repeat a block of code multiple times. Python supports two primary types of loops:

for loop

while loop

Each loop type is suited for different use cases, depending on how many times you want the code to run and how you structure your iteration.

1. for Loop

A for loop is used when you know in advance how many times you want to iterate over a sequence (such as a list, tuple, string, or range). It iterates over the elements of a sequence or any other iterable object, executing the block of code for each element.

Syntax:
for item in sequence:

Example 1: Iterating over a list

In [33]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

Example 2: Using range() with a for loop

In [34]:
for i in range(5):
    print(i)

0
1
2
3
4

Example 3: Iterating over a string

In [35]:
name = "Python"
for letter in name:
    print(letter)

P
y
t
h
o
n

2. while Loop

A while loop repeatedly executes a block of code as long as the condition provided is True. The loop continues until the condition becomes False.

Example 1: Basic while loop

In [36]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

Example 2: Using while with a user input condition

In [38]:
password = ""
while password != "secret":
    password = input("Enter the password: ")
print("Access granted!")

Enter the password: secret
Access granted!

3. Control Statements within Loops

Python provides control statements to alter the flow of loops:

break: Exits the loop prematurely when a condition is met.

continue: Skips the current iteration and continues with the next one.

else with loops: Runs if the loop completes normally without encountering a break.

Using break in Loops
The break statement is used to exit a loop early when a specific condition is met.

Example:

In [39]:
for i in range(10):
    if i == 5:
        break  # Exit the loop when i equals 5
    print(i)

0
1
2
3
4

Using continue in Loops

The continue statement skips the rest of the current iteration and moves to the next one.

Example:

In [40]:
for i in range(5):
    if i == 2:
        continue  # Skip the iteration where i equals 2
    print(i)

0
1
3
4

Using else with Loops

An else clause can be used with loops to execute code after the loop finishes, unless the loop is terminated by a break.

Example with for loop:

In [41]:
for i in range(5):
    print(i)
else:
    print("Loop completed successfully!")

0
1
2
3
4
Loop completed successfully!

Example with break:

In [42]:
for i in range(5):
    if i == 3:
        break
    print(i)
else:
    print("This won't be printed because of the break")

0
1
2

4. Nested Loops

You can place one loop inside another loop to create nested loops. Nested loops are useful when dealing with multi-dimensional data, like lists of lists or matrices.

Example of a Nested for Loop:

In [43]:
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

for row in matrix:
    for element in row:
        print(element, end=" ")
    print()

1 2 3
4 5 6
7 8 9

5. Infinite Loops

An infinite loop occurs when the condition in a while loop never becomes False. These are sometimes necessary, but they should be controlled with a break statement or by ensuring the loop condition will eventually change.

Example of an Infinite Loop:

In [44]:
while True:
    user_input = input("Type 'exit' to stop: ")
    if user_input == 'exit':
        break

Type 'exit' to stop: exit